extends layout 

block content 
    form(class="container vertical" method="POST" action="/create/post" onSubmit="return mySubmit()")
        label(for="poster") Who is posting?: 
        input(type="text" id="Poster" name="poster" placeholder="username")
        label(for="desc") Description: 
        input(type="text" id="Desc" name="desc" placeholder="This is my post")
        div(id="Errors")
        input(type="submit" value="Post!")
    script(src="../postScript.js")