html 
    head 
        title=title 
        link(href="../style.css" rel="stylesheet")
    body 
        div(class="container vertical") DB Final 
            div(class="container vertical")
                div(class="container horizontal")
                    a(href="/account")
                        input(type="button" value="Account")
                    a(href="/create/account")
                        input(type="button" value="Create Account")
                div(class="container horizontal")
                    a(href="/post")
                        input(type="button" value="Post")
                    a(href="/create/post")
                        input(type="button" value="Create Post")
        section 
            block content 
        footer 