extends layout 

block content 
    div(class="container vertical")
        div(class="container vertical") Account Information:
            p #{post.poster}
            p #{post.picture}
            p #{post.desc}
