.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
#Submit {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
#Submit:hover {
    cursor: pointer;
}