.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 5px;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}